<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220707437121-jebnk9fsg4sjpiltj0dvo2t0akh60rv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220707437121-jebnk9fsg4sjpiltj0dvo2t0akh60rv8</string>
	<key>API_KEY</key>
	<string>AIzaSyA6wXP5xrn8fskvwBN9QyTGXzkcLMkMICM</string>
	<key>GCM_SENDER_ID</key>
	<string>220707437121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>geostashr</string>
	<key>STORAGE_BUCKET</key>
	<string>geostashr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220707437121:ios:9f119a5531c3bff215e4c0</string>
</dict>
</plist>